@using BeautySalonContracts.ViewModels;
@model List<ProcedureViewModel>
@{ ViewData["Title"] = "Процедуры"; }
<div class="text-center">
    <h1 class="display-4">Процедуры</h1>
</div>
<div class="text-center">
    @{ if (Model == null)
                    {
        <h3 class="display-4">Авторизируйтесь</h3> return;
                    }
        <p>
            <a asp-action="CreateProcedure">Создать процедуру</a>
        </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Номер
                                </th>
                                <th>
                                    Название
                                </th>
                                <th>
                                    ФИО мастера
                                </th>
                                <th>
                                    Длительность
                                </th>
                                <th>
                                    Цена
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProcedureName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FIO_Master)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Duration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        <a asp-action="UpdateProcedure" asp-route-Id="@item.Id">Изменить</a>
                                    </td>
                                    <td>
                                        <a asp-action="DeleteProcedure" asp-route-Id="@item.Id">Удалить</a>
                                    </td>
                                </tr>}
                        </tbody>
                    </table> }
</div>
